[submodule "exo"]
	path = exo
	url = https://github.com/exo-lang/exo.git
[submodule "ExoBLAS"]
	path = ExoBLAS
	url = https://github.com/exo-lang/ExoBLAS.git
[submodule "Halide"]
	path = Halide
	url = https://github.com/exo-lang/Halide.git
